<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/highcharts/highcharts.js" type="text/javascript"></script>
    <title></title>
</head>
<body>
<div id="container"></div>
    <script>
        var chart;
        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: "container",
                    defaultSeriesType: "line"
                },
                title: {
                    text:"{{ terms|title }}"
                },
                xAxis: {
                    title: {
                        text: "Date"
                    },
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: "Mentions"
                    }
                },
                series: [
                    {% for term, series in histogram.iteritems %}
                        {
                            name: "{{ term }}",
                            data: [
                                {% for stamp, count in series.iteritems %}[Date.UTC({{ stamp.year }}, {{ stamp.month }}, {{ stamp.day }}), {{ count }}],{% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            });
        })
    </script>
<table>
    {% for stamp, count in histogram %}
        <tr><td>{{ stamp }}</td><td>{{ count }}</td></tr>
    {% endfor %}
</table>
</body>
</html>